{
  "env": {
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "rules": {
    // plugin rules
    "import/extensions": ["error", "ignorePackages", { "ts": "never", "tsx": "never" }],
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["**/*.test.ts", "**/*.test.tsx", "**/testing.ts", "**/jest.setup.ts"] }
    ],
    "import/prefer-default-export": "off",
    "simple-import-sort/imports": "error",
    "prettier/prettier": "error",

    // basic rules
    "class-methods-use-this": "off",
    "@typescript-eslint/no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }],
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
    "no-restricted-syntax": "off",
    "no-continue": "off",
    "prefer-destructuring": "off",
    "no-useless-constructor": "off",
    "arrow-body-style": "off",

    // typescript conflicting rules
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"]
  },
  "settings": {
    "import/resolver": {
      // this loads <rootdir>/tsconfig.json to eslint
      "typescript": {}
    }
  }
}
